@font-face{
  font-family:Orbitron;
  src: url(Fonts/Orbitron-VariableFont_wght.ttf)
}

body{
  color: blue;
  background-color: blue;
  background-image: src(2.PNG)
  background-size: cover;
}

h1{
  font-family: Orbitron;
  color:green;
}
