@font-face {
  font-family: Orbitron;
  src: url(Fonts/Orbitron-VariableFont_wght.ttf)
}

.title h1 {
  color: black;
  font-family: Orbitron;
  text-align: center;
}

.title {
  background-color: green;
}

.title:hover {
  background-color: rgb(0, 200, 0);
}

body {
  background-color: black;
  background-image: src(twobyone.png)
  height: 500px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

button{
  background-color: green;
}

#foot {
  margin: 0px;
  background-color: green;
  color: black;
  font-size: 16px;
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  min-width: 100%;
  text-align: center;
}

#foot:hover {
  background-color: rgb(0, 200, 0)
}

.main {
  font-size: 16;
  font-family: Orbitron;
  color: white;
}
